/***************************************************
   DEBUT GLOBAL
***************************************************/
* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    vertical-align: middle;
    height: auto;
}

iframe {
    max-width: 100%;
    display: block;
}
nav ul{
    padding: 0;
    margin: 0;
    list-style:none;
}
a{
    text-decoration: none;
    color:red; /* Inherit Forcer l'héritage du parent*/
}

/***************************************************
   STRUCTURE
***************************************************/

/***************************************************
   TYPO
***************************************************/

/***************************************************
   HABILLAGE
***************************************************/

/***************************************************
   MODULES
***************************************************/

/* Formulaire contact*/
